

h1{
  color:aliceblue;
}

#one{
 border: 2px solid rgb(117, 223, 229);
 border-radius: 2rem;
 width:20rem;
 padding: 20px;
 

} 

hr{
  background-color: aliceblue;
}
 
h3{
  text-align: center;
}


h2, h6, h4,h3{
  color:white;
}


i{
  color:white;
}

